<div class="parent">
  <div class="box">
    <div class="innerbox1">
      <img src="../../../assets/qoute.png" alt="image" />
      <br />
      <h3>Stories from users</h3>
      <br />
      <p class="text">
        I used to struggle with my business due to low capital until I met
        Revent that took my business to a new level with the loan granted to me
        at the best rates ever.
      </p>
      <br />
      <i class="name">- Magarette Chikamso</i>
    </div>
    <div class="innerbox2">
      <img src="../../../assets/testimonial.png" alt="testimonial's image" />
    </div>
  </div>
  <div class="logo">
    <div class="logo1">
      <img src="../../../assets/logo3.svg" alt="logo" />
    </div>
    <div class="logo1">
      <img src="../../../assets/logo.svg" alt="logo" />
    </div>
    <div class="logo1">
      <img src="../../../assets/logo2.svg" alt="logo" />
    </div>
    <div class="logo1">
      <img src="../../../assets/branch-logo.png" alt="logo" />
    </div>
    <div class="logo1">
      <img src="../../../assets/artisan-logo.png" alt="logo" />
    </div>
  </div>
</div>