<div class="parent">
  <div class="inner">
    <div class="child1">
      <h3>LOGO</h3>
      <ul>
        <li><a href="">Contact Us</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Our works</a></li>
      </ul>
      <div class="child2">
        <a href=""
          ><img src="../../../assets/Instagram.png" alt="Instagram"
        /></a>
        <a href=""><img src="../../../assets/Twitter.png" alt="Twitter" /></a>
      </div>
    </div>
  </div>
  <hr class="line" />
  <br />
  <div class="inner2">
    <p>© {{ getCurrentYear() }} reventtechnologies. All rights reserved</p>
  </div>
</div>
